openapi: 3.1.0
info:
  title: Home API
  version: 0.2.0
  description: >-
    API for the `home` household-management service. Companion to PRD.md.
    Four modules in v1: `logging` (a spine; read/browse endpoints only — writes are
    in-process, not HTTP), `todo` (Trello-style board), `events` (Okno do
    budoucnosti — all-day, optionally recurring events with in-app reminders), and
    `dashboard` (Nástěnka — the landing aggregation). Identifiers are English; the
    UI is Czech. All /api endpoints require a site-scoped JWT (site `home`); writes
    require the `editor` or `admin` role, and /api/logs/** require `admin`. Health
    probes are public. Real-time updates (board, event, and completion changes) are
    delivered over an authenticated websocket at GET /ws, not modeled here since
    OpenAPI describes HTTP only. Recurrence is stored as an RFC 5545 RRULE subset
    and expanded on read — occurrences are never persisted; the only per-occurrence
    row is a reminder completion. No BE->BE endpoints in v1 — the /internal/logs
    ingest is a documented future extraction seam only.
servers:
  - url: https://home.tilcer.cz
    description: Production (Coolify)

tags:
  - name: health
    description: Liveness/readiness probes (baseline for every backend)
  - name: boards
    description: To-do boards (top-level container)
  - name: columns
    description: Columns within a board (sortable, collapsible; the "folders")
  - name: cards
    description: To-do cards (title, notes, links, checklist, labels)
  - name: labels
    description: Board-scoped labels/tags
  - name: events
    description: Okno do budoucnosti — all-day, optionally recurring future events
  - name: dashboard
    description: Nástěnka — landing aggregation of active reminders and current to-dos
  - name: logs
    description: Audit-log browser (admin only)

paths:
  # ---------------- Health ----------------
  /healthz:
    get:
      tags: [health]
      summary: Liveness probe
      security: []
      responses:
        "200":
          description: Process is up
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Health" }
  /readyz:
    get:
      tags: [health]
      summary: Readiness probe (includes SQLite check)
      security: []
      responses:
        "200":
          description: Ready to serve traffic
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Health" }
        "503":
          description: Not ready (e.g. DB unavailable)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }

  # ---------------- Boards ----------------
  /api/boards:
    get:
      tags: [boards]
      summary: List boards
      responses:
        "200":
          description: Boards in manual order
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Board" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [boards]
      summary: Create a board
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BoardCreate" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Board" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /api/boards/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      tags: [boards]
      summary: Get a board
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Board" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [boards]
      summary: Update a board
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/BoardUpdate" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Board" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
    delete:
      tags: [boards]
      summary: Delete a board
      parameters:
        - name: hard
          in: query
          schema: { type: boolean, default: false }
          description: Hard-delete instead of archiving.
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/boards/{id}/tree:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      tags: [boards]
      summary: Board read model (columns in order + cards + summaries)
      description: >-
        Returns the board with its columns (in sort order) and each column's cards
        (in order, with label ids and checklist progress). Card links and full
        checklist load via the card detail. Collapse is applied client-side.
      parameters:
        - name: label
          in: query
          description: Filter cards by one or more label ids.
          schema:
            type: array
            items: { type: string }
        - name: q
          in: query
          description: Free-text filter over card title/notes.
          schema: { type: string }
        - name: include_archived
          in: query
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Board tree
          content:
            application/json:
              schema: { $ref: "#/components/schemas/BoardTree" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ---------------- Columns ----------------
  /api/boards/{id}/columns:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      tags: [columns]
      summary: List a board's columns (sort order)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Column" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [columns]
      summary: Create a column
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ColumnCreate" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Column" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /api/columns/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    patch:
      tags: [columns]
      summary: Update a column (name, priority, kind)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ColumnUpdate" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Column" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
    delete:
      tags: [columns]
      summary: Delete a column
      parameters:
        - name: cascade
          in: query
          description: Delete the column even if it holds cards (cards deleted, each logged).
          schema: { type: boolean, default: false }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409":
          description: Column not empty and cascade not set (returns card count)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
  /api/columns/{id}/move:
    parameters:
      - $ref: "#/components/parameters/PathId"
    post:
      tags: [columns]
      summary: Reorder a column within its board
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/MoveRequest" }
      responses:
        "200":
          description: Reordered
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Column" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  # ---------------- Cards ----------------
  /api/columns/{id}/cards:
    parameters:
      - $ref: "#/components/parameters/PathId"
    post:
      tags: [cards]
      summary: Create a card in a column
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CardCreate" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Card" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /api/cards/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      tags: [cards]
      summary: Get a card (with links, checklist, labels)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CardDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [cards]
      summary: Update a card (title, notes, archived)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CardUpdate" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Card" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
    delete:
      tags: [cards]
      summary: Delete a card (soft by default)
      parameters:
        - name: hard
          in: query
          schema: { type: boolean, default: false }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/cards/{id}/move:
    parameters:
      - $ref: "#/components/parameters/PathId"
    post:
      tags: [cards]
      summary: Move a card to a column and/or position
      description: >-
        Core workflow action. Moving into the board's `done` column stamps
        `done_at`; moving out of it clears `done_at`.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CardMoveRequest" }
      responses:
        "200":
          description: Moved
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Card" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }

  # ---------------- Card links ----------------
  /api/cards/{id}/links:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      tags: [cards]
      summary: List a card's links
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/CardLink" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [cards]
      summary: Add a link to a card
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CardLinkCreate" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/CardLink" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /api/links/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    delete:
      tags: [cards]
      summary: Remove a link
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ---------------- Checklist ----------------
  /api/cards/{id}/checklist:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      tags: [cards]
      summary: List a card's checklist items
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/ChecklistItem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [cards]
      summary: Add a checklist item
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChecklistItemCreate" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChecklistItem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /api/checklist/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    patch:
      tags: [cards]
      summary: Update a checklist item (text, done, position)
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/ChecklistItemUpdate" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ChecklistItem" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
    delete:
      tags: [cards]
      summary: Delete a checklist item
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ---------------- Labels ----------------
  /api/boards/{id}/labels:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      tags: [labels]
      summary: List a board's labels
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/Label" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [labels]
      summary: Create a label on a board
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LabelCreate" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Label" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /api/labels/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    patch:
      tags: [labels]
      summary: Update a label
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/LabelCreate" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Label" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
        "409": { $ref: "#/components/responses/Conflict" }
    delete:
      tags: [labels]
      summary: Delete a label (detaches from all cards)
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/cards/{id}/labels/{labelId}:
    parameters:
      - $ref: "#/components/parameters/PathId"
      - name: labelId
        in: path
        required: true
        schema: { type: string }
    post:
      tags: [labels]
      summary: Attach a label to a card
      responses:
        "204": { description: Attached }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    delete:
      tags: [labels]
      summary: Detach a label from a card
      responses:
        "204": { description: Detached }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ---------------- Events (Okno do budoucnosti) ----------------
  /api/events:
    get:
      tags: [events]
      summary: List event series (not occurrences)
      description: >-
        Returns the stored series records. For dated occurrences use
        /api/events/occurrences.
      parameters:
        - name: include_archived
          in: query
          schema: { type: boolean, default: false }
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EventSeriesPage" }
        "401": { $ref: "#/components/responses/Unauthorized" }
    post:
      tags: [events]
      summary: Create an event
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EventCreate" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Event" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /api/events/occurrences:
    get:
      tags: [events]
      summary: Expanded occurrences grouped by month (Okno do budoucnosti list)
      description: >-
        Expands each non-archived event's recurrence rule within the window and
        returns occurrences grouped by month, ascending. Window-bounded and capped
        (HOME_RRULE_MAX_OCCURRENCES per event; max span enforced). Occurrences are
        computed, never stored. Short-month anchors clamp to the last day of the
        month (PRD D19).
      parameters:
        - name: from
          in: query
          required: true
          schema: { type: string, format: date }
        - name: to
          in: query
          required: true
          schema: { type: string, format: date }
        - name: include_archived
          in: query
          schema: { type: boolean, default: false }
      responses:
        "200":
          description: Months, each with its occurrences
          content:
            application/json:
              schema: { $ref: "#/components/schemas/OccurrenceMonths" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "422":
          description: Window missing, inverted, or wider than the permitted span
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
  /api/events/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      tags: [events]
      summary: Get an event series (with links)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EventWithLinks" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    patch:
      tags: [events]
      summary: Update an event — affects the WHOLE series
      description: >-
        There are no per-occurrence exceptions in v1 (PRD D14); an update applies
        to every occurrence. The UI must warn before saving.
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/EventUpdate" }
      responses:
        "200":
          description: Updated
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Event" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
    delete:
      tags: [events]
      summary: Delete an event series (soft by default)
      parameters:
        - name: hard
          in: query
          schema: { type: boolean, default: false }
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/events/{id}/links:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      tags: [events]
      summary: List an event's links
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/EventLink" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "404": { $ref: "#/components/responses/NotFound" }
    post:
      tags: [events]
      summary: Add a link to an event
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CardLinkCreate" }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/EventLink" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /api/event-links/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    delete:
      tags: [events]
      summary: Remove an event link
      responses:
        "204": { description: Deleted }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/events/{id}/complete:
    parameters:
      - $ref: "#/components/parameters/PathId"
    post:
      tags: [events]
      summary: Mark one occurrence's reminder done (idempotent)
      description: >-
        Writes the only per-occurrence row in the system. Repeating the call is a
        no-op, not an error. For a recurring event this advances the live reminder
        to the next occurrence.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [occurrence_on]
              properties:
                occurrence_on: { type: string, format: date }
      responses:
        "200":
          description: Completed (or already complete)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/ReminderCompletion" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
        "422":
          description: occurrence_on is not a real occurrence of this event
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Error" }
    delete:
      tags: [events]
      summary: Undo a reminder completion
      parameters:
        - name: occurrence_on
          in: query
          required: true
          schema: { type: string, format: date }
      responses:
        "204": { description: Completion removed }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }

  # ---------------- Dashboard (Nástěnka) ----------------
  /api/dashboard:
    get:
      tags: [dashboard]
      summary: Landing aggregation — active reminders + current to-dos
      description: >-
        Two computed lists. `reminders`: for each non-archived event with a
        reminder, the earliest uncompleted occurrence within the lookback window,
        included only when today >= occurrence_on - lead (at most one per event,
        overdue flagged). `tasks`: every non-archived card in any column with
        kind=now, across all non-archived boards. Marking items done is done via
        the owning module's endpoints (POST /api/cards/{id}/move,
        POST /api/events/{id}/complete).
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Dashboard" }
        "401": { $ref: "#/components/responses/Unauthorized" }

  # ---------------- Logs (admin) ----------------
  /api/logs:
    get:
      tags: [logs]
      summary: Browse audit events (admin)
      description: Requires the `admin` role. Filters compose (AND); newest-first.
      parameters:
        - { name: from, in: query, schema: { type: string, format: date-time } }
        - { name: to, in: query, schema: { type: string, format: date-time } }
        - { name: module, in: query, schema: { type: string } }
        - { name: actor, in: query, description: Actor user id, schema: { type: string } }
        - { name: action, in: query, schema: { type: string } }
        - { name: entity_type, in: query, schema: { type: string } }
        - { name: entity_id, in: query, schema: { type: string } }
        - { name: level, in: query, schema: { type: string, enum: [info, warn, error] } }
        - { name: q, in: query, description: Free-text over summary + meta, schema: { type: string } }
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Paged events (each with a change count)
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuditEventPage" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/Unprocessable" }
  /api/logs/{id}:
    parameters:
      - $ref: "#/components/parameters/PathId"
    get:
      tags: [logs]
      summary: Audit-event detail with full field changes (admin)
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuditEventDetail" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "404": { $ref: "#/components/responses/NotFound" }
  /api/logs/entity/{type}/{entityId}:
    parameters:
      - name: type
        in: path
        required: true
        schema: { type: string }
      - name: entityId
        in: path
        required: true
        schema: { type: string }
    get:
      tags: [logs]
      summary: Full chronological timeline for one entity (admin)
      parameters:
        - { name: from, in: query, schema: { type: string, format: date-time } }
        - { name: to, in: query, schema: { type: string, format: date-time } }
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: Paged timeline (oldest-first), each event with its changes
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AuditEventDetailPage" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
  /api/logs/stats:
    get:
      tags: [logs]
      summary: Aggregated counts for the log browser (admin)
      parameters:
        - name: dimension
          in: query
          required: true
          schema: { type: string, enum: [module, actor, action, level] }
        - name: bucket
          in: query
          schema: { type: string, enum: [day, week], default: day }
        - { name: from, in: query, schema: { type: string, format: date-time } }
        - { name: to, in: query, schema: { type: string, format: date-time } }
      responses:
        "200":
          description: Time buckets + totals per group
          content:
            application/json:
              schema: { $ref: "#/components/schemas/StatsResponse" }
        "401": { $ref: "#/components/responses/Unauthorized" }
        "403": { $ref: "#/components/responses/Forbidden" }
        "422": { $ref: "#/components/responses/Unprocessable" }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >-
        Site-scoped JWT (site `home`), 15-minute expiry, obtained via auth (Mode A).
        Verified by the backend through auth's POST /introspect (home service client)
        with short-TTL caching. Role gating (from the JWT `roles` claim): to-do writes
        require `editor` or `admin`; /api/logs/** require `admin`.

  parameters:
    PathId:
      name: id
      in: path
      required: true
      schema: { type: string }
    Limit:
      name: limit
      in: query
      schema: { type: integer, minimum: 1, maximum: 200, default: 50 }
    Cursor:
      name: cursor
      in: query
      description: UUIDv7 keyset cursor from the previous page.
      schema: { type: string }

  responses:
    Unauthorized:
      description: Missing/invalid JWT
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Forbidden:
      description: Authenticated but lacks the required role (e.g. non-admin on logs)
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Conflict:
      description: Conflict (duplicate, or non-empty delete)
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }
    Unprocessable:
      description: Validation failed
      content:
        application/json:
          schema: { $ref: "#/components/schemas/Error" }

  schemas:
    Health:
      type: object
      required: [status]
      properties:
        status: { type: string, enum: [ok] }
    Error:
      type: object
      required: [error]
      properties:
        error: { type: string }
        detail: { type: string }

    # ----- To-do -----
    Board:
      type: object
      required: [id, name, position, created_at]
      properties:
        id: { type: string }
        name: { type: string }
        description: { type: [string, "null"] }
        position: { type: string, description: Fractional-index / lexorank order key }
        archived: { type: boolean, default: false }
        created_by: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
    BoardCreate:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1 }
        description: { type: string }
    BoardUpdate:
      type: object
      properties:
        name: { type: string, minLength: 1 }
        description: { type: [string, "null"] }
        archived: { type: boolean }

    Column:
      type: object
      required: [id, board_id, name, priority, position, kind]
      properties:
        id: { type: string }
        board_id: { type: string }
        name: { type: string }
        priority: { type: integer, default: 0 }
        position: { type: string }
        kind:
          type: string
          enum: [normal, now, done]
          default: normal
          description: Free-form UI hint; not unique per board.
        created_at: { type: string, format: date-time }
    ColumnCreate:
      type: object
      required: [name]
      properties:
        name: { type: string, minLength: 1 }
        priority: { type: integer, default: 0 }
        kind: { type: string, enum: [normal, now, done], default: normal }
    ColumnUpdate:
      type: object
      properties:
        name: { type: string, minLength: 1 }
        priority: { type: integer }
        kind: { type: string, enum: [normal, now, done] }

    Card:
      type: object
      required: [id, column_id, title, position, created_at]
      properties:
        id: { type: string }
        column_id: { type: string }
        title: { type: string }
        notes: { type: [string, "null"], description: Markdown }
        position: { type: string }
        archived: { type: boolean, default: false }
        done_at: { type: [string, "null"], format: date-time }
        label_ids:
          type: array
          items: { type: string }
        checklist_progress:
          $ref: "#/components/schemas/ChecklistProgress"
        created_by: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    CardDetail:
      allOf:
        - $ref: "#/components/schemas/Card"
        - type: object
          properties:
            links:
              type: array
              items: { $ref: "#/components/schemas/CardLink" }
            checklist:
              type: array
              items: { $ref: "#/components/schemas/ChecklistItem" }
            labels:
              type: array
              items: { $ref: "#/components/schemas/Label" }
    CardCreate:
      type: object
      required: [title]
      properties:
        title: { type: string, minLength: 1 }
        notes: { type: string }
    CardUpdate:
      type: object
      properties:
        title: { type: string, minLength: 1 }
        notes: { type: [string, "null"] }
        archived: { type: boolean }
    CardMoveRequest:
      type: object
      required: [column_id]
      properties:
        column_id: { type: string, description: Target column. }
        position: { type: string, description: Target order key within the column. }
    ChecklistProgress:
      type: object
      required: [done, total]
      properties:
        done: { type: integer }
        total: { type: integer }

    CardLink:
      type: object
      required: [id, card_id, url, position]
      properties:
        id: { type: string }
        card_id: { type: string }
        url: { type: string, format: uri }
        title: { type: [string, "null"] }
        position: { type: string }
    CardLinkCreate:
      type: object
      required: [url]
      properties:
        url: { type: string, format: uri, description: http/https only }
        title: { type: string }

    ChecklistItem:
      type: object
      required: [id, card_id, text, done, position]
      properties:
        id: { type: string }
        card_id: { type: string }
        text: { type: string }
        done: { type: boolean, default: false }
        position: { type: string }
    ChecklistItemCreate:
      type: object
      required: [text]
      properties:
        text: { type: string, minLength: 1 }
    ChecklistItemUpdate:
      type: object
      properties:
        text: { type: string, minLength: 1 }
        done: { type: boolean }
        position: { type: string }

    Label:
      type: object
      required: [id, board_id, name, color]
      properties:
        id: { type: string }
        board_id: { type: string }
        name: { type: string }
        color: { type: string, description: Hex or named token }
    LabelCreate:
      type: object
      required: [name, color]
      properties:
        name: { type: string, minLength: 1 }
        color: { type: string }

    MoveRequest:
      type: object
      required: [position]
      properties:
        position: { type: string, description: New order key. }

    BoardTree:
      type: object
      required: [board, columns]
      properties:
        board: { $ref: "#/components/schemas/Board" }
        columns:
          type: array
          items:
            type: object
            required: [column, cards]
            properties:
              column: { $ref: "#/components/schemas/Column" }
              cards:
                type: array
                items: { $ref: "#/components/schemas/Card" }

    # ----- Events (Okno do budoucnosti) -----
    Event:
      type: object
      required: [id, title, starts_on, reminder_enabled, timezone, created_at]
      properties:
        id: { type: string }
        title: { type: string }
        description: { type: [string, "null"], description: Markdown }
        starts_on:
          type: string
          format: date
          description: All-day anchor date; no time of day (PRD D18).
        rrule:
          type: [string, "null"]
          description: >-
            RFC 5545 RRULE subset. NULL = one-off. v1 supports
            FREQ=WEEKLY|MONTHLY|YEARLY with INTERVAL=1 and optional UNTIL.
          examples: ["FREQ=MONTHLY;INTERVAL=1", "FREQ=YEARLY;INTERVAL=1;UNTIL=20300101"]
        timezone:
          type: string
          default: Europe/Prague
          description: IANA zone used for expansion and date boundaries.
        reminder_enabled: { type: boolean, default: false }
        reminder_lead:
          type: [string, "null"]
          enum: ["1d", "2d", "1w", "2w", "1m", null]
          description: Required when reminder_enabled is true.
        archived: { type: boolean, default: false }
        created_by: { type: [string, "null"] }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }
    EventCreate:
      type: object
      required: [title, starts_on]
      properties:
        title: { type: string, minLength: 1 }
        description: { type: string }
        starts_on: { type: string, format: date }
        rrule: { type: string }
        reminder_enabled: { type: boolean, default: false }
        reminder_lead: { type: string, enum: ["1d", "2d", "1w", "2w", "1m"] }
    EventUpdate:
      type: object
      description: Applies to the whole series — no per-occurrence exceptions (PRD D14).
      properties:
        title: { type: string, minLength: 1 }
        description: { type: [string, "null"] }
        starts_on: { type: string, format: date }
        rrule: { type: [string, "null"] }
        reminder_enabled: { type: boolean }
        reminder_lead: { type: [string, "null"], enum: ["1d", "2d", "1w", "2w", "1m", null] }
        archived: { type: boolean }
    EventWithLinks:
      allOf:
        - $ref: "#/components/schemas/Event"
        - type: object
          properties:
            links:
              type: array
              items: { $ref: "#/components/schemas/EventLink" }
    EventLink:
      type: object
      required: [id, event_id, url, position]
      properties:
        id: { type: string }
        event_id: { type: string }
        url: { type: string, format: uri }
        title: { type: [string, "null"] }
        position: { type: string }
    EventSeriesPage:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/Event" }
        next_cursor: { type: [string, "null"] }
    Occurrence:
      type: object
      required: [event_id, occurrence_on, title, recurring, reminder_enabled]
      description: A computed occurrence. Never persisted.
      properties:
        event_id: { type: string }
        occurrence_on: { type: string, format: date }
        title: { type: string }
        description: { type: [string, "null"] }
        recurring: { type: boolean, description: True when the parent event has an rrule. }
        reminder_enabled: { type: boolean }
        reminder_lead: { type: [string, "null"], enum: ["1d", "2d", "1w", "2w", "1m", null] }
        reminder_completed:
          type: boolean
          description: Whether this specific occurrence's reminder has been completed.
    OccurrenceMonths:
      type: object
      required: [months]
      properties:
        months:
          type: array
          description: Ascending by month.
          items:
            type: object
            required: [month, occurrences]
            properties:
              month: { type: string, description: "yyyy-MM", examples: ["2026-07"] }
              occurrences:
                type: array
                items: { $ref: "#/components/schemas/Occurrence" }
    ReminderCompletion:
      type: object
      required: [event_id, occurrence_on, completed_at]
      properties:
        event_id: { type: string }
        occurrence_on: { type: string, format: date }
        completed_by: { type: [string, "null"] }
        completed_at: { type: string, format: date-time }

    # ----- Dashboard (Nástěnka) -----
    Dashboard:
      type: object
      required: [reminders, tasks]
      properties:
        reminders:
          type: array
          items: { $ref: "#/components/schemas/DashboardReminder" }
        tasks:
          type: array
          items: { $ref: "#/components/schemas/DashboardTask" }
    DashboardReminder:
      type: object
      required: [event_id, occurrence_on, title, overdue]
      description: >-
        At most one per event — the earliest uncompleted occurrence within the
        lookback window, shown once today >= occurrence_on - lead.
      properties:
        event_id: { type: string }
        occurrence_on: { type: string, format: date }
        title: { type: string }
        recurring: { type: boolean }
        reminder_lead: { type: string, enum: ["1d", "2d", "1w", "2w", "1m"] }
        overdue:
          type: boolean
          description: True when occurrence_on is in the past and still uncompleted.
        days_until:
          type: integer
          description: Negative when overdue. Computed in HOME_TIMEZONE.
    DashboardTask:
      type: object
      required: [card_id, title, board_id, board_name, column_id, column_name]
      description: A card sitting in a column with kind=now, across all boards.
      properties:
        card_id: { type: string }
        title: { type: string }
        board_id: { type: string }
        board_name: { type: string }
        column_id: { type: string }
        column_name: { type: string }
        label_ids:
          type: array
          items: { type: string }
        checklist_progress: { $ref: "#/components/schemas/ChecklistProgress" }

    # ----- Logs -----
    AuditEvent:
      type: object
      required: [id, ts, actor_type, module, action, summary, level, site]
      properties:
        id: { type: string }
        ts: { type: string, format: date-time }
        actor_user_id: { type: [string, "null"] }
        actor_type: { type: string, enum: [user, system, service] }
        actor_label: { type: [string, "null"] }
        module: { type: string }
        action: { type: string }
        entity_type: { type: [string, "null"] }
        entity_id: { type: [string, "null"] }
        summary: { type: string }
        level: { type: string, enum: [info, warn, error] }
        request_id: { type: [string, "null"] }
        ip: { type: [string, "null"] }
        user_agent: { type: [string, "null"] }
        site: { type: string }
        meta: { type: [object, "null"], additionalProperties: true }
        change_count: { type: integer, description: Number of field changes on this event. }
    AuditChange:
      type: object
      required: [field]
      properties:
        field: { type: string }
        old_value: { type: [string, "null"], description: Full previous value (no truncation). }
        new_value: { type: [string, "null"], description: Full new value (no truncation). }
    AuditEventDetail:
      allOf:
        - $ref: "#/components/schemas/AuditEvent"
        - type: object
          properties:
            changes:
              type: array
              items: { $ref: "#/components/schemas/AuditChange" }
    AuditEventPage:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/AuditEvent" }
        next_cursor: { type: [string, "null"] }
    AuditEventDetailPage:
      type: object
      required: [items]
      properties:
        items:
          type: array
          items: { $ref: "#/components/schemas/AuditEventDetail" }
        next_cursor: { type: [string, "null"] }
    StatsResponse:
      type: object
      required: [dimension, bucket, buckets, totals]
      properties:
        dimension: { type: string, enum: [module, actor, action, level] }
        bucket: { type: string, enum: [day, week] }
        buckets:
          type: array
          description: Per-time-bucket grouped counts.
          items:
            type: object
            required: [ts, counts]
            properties:
              ts: { type: string, format: date-time }
              counts:
                type: object
                additionalProperties: { type: integer }
        totals:
          type: array
          description: Top groups over the whole range.
          items:
            type: object
            required: [key, count]
            properties:
              key: { type: string }
              count: { type: integer }

# Default auth for all endpoints; health probes override with security: [].
security:
  - bearerAuth: []
